body {
  margin: 0;
  font-family: arial, sans-serif;
}

nav {
  background-color: #FE7E00;
  width: 100%;
  height: 80px;
  border-bottom: 10px solid #F36F00;
  display: inline-block;
}

.logo img {
  float: left;
  margin-left: 95px;
  margin-top: 5px;
  position: absolute;
  width: 60px;
}

.logo > p {
  color: white;
  font-size: 35px;
  margin: 0 125px;
  padding:15px 25px;
  float: left;
  width: 150px;
}


.logo > a > img {
  height: 40px;
  width: 144px;
}

nav ul {
  float: right;
  padding: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
}

nav ul li {
  display: inline-block;
  padding-right: 35px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color:#fff;
  padding: 15px 10px;
}

nav ul li a:hover {
  background-color: #E2F89C;
  color: #3F7CAC;
  text-decoration: none;
}

section {
  height:
}

section input {
    background-color: lightgray;
    opacity: 0.3;
    float: right;
    width: 300px;
    height: 55px;
    margin-right: 65px;
    border-style: none;
}

input::placeholder {
  padding-left: 20px;
  font-weight: bold;
 }


i {
  position: absolute;
  opacity: 0.3;
  right: 80px;
  margin-top: 15px;
  z-index: 10px;
}

.orangeslices {
  width: 30%;
  height: 400px;
  padding: 25px;
  margin-left: 75px;
  float: left;
  z-index: auto;
}

aside {
  width: 50%;
  height: 400px;
  float: right;
  margin-right: 15px;
  margin-top: 30px;
}

p {
  color: #f2c59d;
  font-family: 'Quicksand', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

p > span {
  color:#7ACCC8;
  font-weight: bold;
}

.aside1 a {
    background-color: #FE7E00;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 57px;
    text-decoration: none;
    float: left;
}

.aside2 a {
    background-color: #7ACCC8;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 35px;
    text-decoration: none;
    float: right;
    margin-right: 200px;
}

/*FOOTER*/
footer {
    background-color: #7ACCC8;
    clear: both;
    position:fixed;
    left:0px;
    bottom:0px;
    height:90px;
    width:100%;
  }

/*Media Queries*/

@media (min-width: 600px) {
  .logo .li .orangeslices p {
        width: 40%;
      }
     }

@media (min-width: 1000px){
      .logo .li .orangeslices {
          width: 30%;
      }
}
